@import "tailwindcss";

.about-me-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 2% 2%;
}

@media only screen and (max-width: 1224px) {
  .about-me-container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
  }
}

.about-me-bio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 50%;
}

.about-me-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 800;
  font-size: 3.4375rem;
  color: var(--body-text-color);
}

.about-me-subtitle-start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  color: var(--tertiary-color);
}

.about-me-subtitle-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  color: var(--body-text-color);
}

.about-me-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: var(--body-text-color);
}

.contact-icons-container {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.contact-icon {
  cursor: pointer;
  margin: 0.25rem;
}

.about-me-image-container {
  position: relative;
}

.about-me-image {
  border-radius: 50%;
  position: absolute;
  width: 32rem;
  height: 32rem;
}

.about-me-tan-ellipse {
  position: relative;
  width: 20.0356rem;
  height: 20.0356rem;
  left: -5rem;
}

.about-me-brown-ellipse {
  position: relative;
  width: 320.57px;
  height: 320.57px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 20rem;
}

@media only screen and (max-width: 1224px) {
  .name-in-code {
    width: 100%;
  }

  .about-me-image {
    width: 16rem;
    height: 18.7rem;
  }

  .about-me-tan-ellipse {
    width: 10.0356rem;
    height: 10.0356rem;
    left: -2.5rem;
  }

  .about-me-brown-ellipse {
    width: 10.0356rem;
    height: 10.0356rem;
    margin-top: 10rem;
  }

  .about-me-subtitle {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 460px) {
  .about-me-image {
    width: 12rem;
    height: 13.56rem;
  }

  .about-me-tan-ellipse {
    width: 7.5rem;
    height: 7.5rem;
    left: -1.25rem;
  }

  .about-me-brown-ellipse {
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 7.5rem;
  }

  .about-me-title {
    font-size: 2.5rem;
  }

  .about-me-subtitle-start,
  .about-me-subtitle-end {
    font-size: 1.25rem;
  }
}
