@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ef6d58;
  --primary-light-color: #ef9358;
  --secondary-color: #28293e;
  --body-text-color: #ffffff;
  --alternate-body-text-color: #212121;
  --background-color: #fdf0e9;
  --tertiary-color: #dda803;
  --box-shadow: rgba(0, 0, 0, 0.52);
  --header-button-animation: all 0.4s ease-in-out;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  flex-direction: column;
  background-color: var(--secondary-color);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
#root,
.App {
  display: flex;
  flex: 1;
}

div {
  display: flex;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0.1;
  transition: 0.6s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
