@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ef6d58;
  --primary-light-color: #ef9358;
  --secondary-color: #28293e;
  --body-text-color: #ffffff;
  --alternate-body-text-color: #212121;
  --background-color: #fdf0e9;
  --tertiary-color: #dda803;
  --box-shadow: rgba(0, 0, 0, 0.52);
  --fire-fly-color: #e9e9eb;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0.1;
  transition: 0.6s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.technologies-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 2rem;
  color: #28293e;
}

.technologies-container {
  display: flex;
  padding: 2% 0%;
  background-color: var(--background-color);
  flex-direction: column;
}

.technologies-list-container {
  display: flex;
  padding: 2% 10%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.technology-used-container {
  display: grid;
  grid-template-rows: 80% 20%;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
}
