@import '../../constants/colours.scss';

.footnote-container {
    display: flex;
    flex-direction: column;
    background-color: secondary-color;
    row-gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2.0625rem;
    padding-left: 15%;
}

.footnote-middle {
    font-weight: 400;
    font-size: 9px;
    color: $primary-color;
    text-transform: uppercase;
}

.footnote-ends {
    font-weight: 400;
    font-size: 9px;
    color: $body-text-color;
}
